
#login-bar {
	width: 30%;
	min-width: 300px;
	height: 100%;
	background-color: rgba( 0,0,0, .85 );
	position: absolute;
	top: 0;
	left: 10%;
}

.login-container {
	position: absolute;
	top: 50%; 
	margin-top: -50%;
	z-index: 90;
	width: 100%;
}

.login-container img {
	margin-bottom: 20px;
}

.login-form input {
	width: 80%;
	margin: 15px auto;
	display: table;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 6px;
	padding: 5px; /*inside input*/
	height: 40px;
}

.login-button {
	width: 80%;
	background: #00a4e0;
	border: 0;
    -webkit-transition: .3s;
    transition: 0.3s;
}

.login-button:hover {
	background: #02578e;
}

.forgot-password-button {
	width: 80%;
	background: none;
	border: 1px #00a4e0 solid;
    -webkit-transition: .5s;
    transition: 0.5s;
}

.forgot-password-button:hover {
	border: 1px #02578e solid;
	background: #02578e;
}


@media only screen and (max-width: 1078px) {
	.login-container {
		top: 40%; 
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	#login-bar {
		width: 100%;
		left: 0;
		margin: 0 auto;
		height: 100%;
		background: none;
	}

	.login-container {
		position: relative;
		top: 10%; 
		margin: 0 auto;
	}

	.forgot-password-button {
		color: #666;
	}
	
	.forgot-password-button:hover {
		color: #fff;
	}

}