body {
  text-align: center;
  background: #ddd;
  color: #fff;
  
  background: url("../images/bg-smaller.jpg") fixed;
  background-size: cover;
  background-position: center center;	
  
  padding: 0;
  margin: 0;
}

.background-overlay {
	background-color: rgba( 0,0,0, .25);
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: fixed;
	z-index: 0;
}

.menu-float-right {
	float: right;
	margin-right: 10%;
}

.nav {
	height: 75px;
	display: inline-block;
	margin: 0 auto;
	z-index: 10;
	position: relative;
}

.nav-hamburger { display: none; }

.nav ul {
	list-style: none;
}

.nav ul li {
	display: inline;
	padding: 0 10px;
}

.nav ul li  a {
	color: #fff;
	text-decoration: none;
	font-size: 14pt;
	opacity: 1;
	transition: 0.3s;
    -webkit-transition: .3s;
	font-family: 'Raleway', sans-serif;
}

.nav ul li  a:hover {
	opacity: .75;
}

.nav ul li  a div {
	padding: 15px 10px;
	display: inline;
	height: 50px;
}

.clear {
	clear: both;
}

.wrapper {
	min-height: 92vh;
	z-index: 2;
	position: relative;
}

footer {
	position: relative;
	z-index: 99;
}

footer div {
	margin-top: 30px;
	vertical-align: bottom;
}

h4 {
  color: #bbb;
  font-size: 10pt;
  font-weight: none;
  font-family: 'Arial', sans-serif;
}


.btn {
	color: white;
	padding: 10px;
	border-radius: 15px;
	font-size: 12pt;
	cursor: pointer;
    height: 40px;
    text-align:center;
	margin: 10 0;
}

@media only screen and (max-width: 1078px) {
	.menu-float-right {
		margin-right: 5%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	body {
		background: #eee;
	}
	
	.background-overlay{
		display: none;
	}
	

	.menu-float-right {
		margin-right: 0;
	}
	
	.nav-hamburger { 
		display: block;
		margin: 10px;
		cursor: pointer;
		padding: 3;
		opacity: 1;
		position: relative; 
		z-index: 15;
		transition: 0.3s;
		-webkit-transition: .3s;
	}
	
	.nav-hamburger div {
		width: 30px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		border-radius: 3px;
	}

	.nav-hamburger:hover {
		opacity: .75;
		transition: 0.3s;
	}
	
	.nav-list {
		display: none;
	}
	
	h4 {
		color: #666;
	}
}